### IMPORT PANDAS

In [1]:
import pandas as pd

### Import and store `peace_index` file into the variable df standing for dataframe

In [2]:
df = pd.read_csv ("student_marks.csv", index_col="Student_ID")

df.head()

,Test_1,Test_2,Test_3,Test_4,Test_5,Test_6,Test_7,Test_8,Test_9,Test_10,Test_11,Test_12
Student_ID,,,,,,,,,,,,
22000,78,87,91,91,88,98,94,100,100,100,100,93
22001,79,71,81,72,73,68,59,69,59,60,61,67
22002,66,65,70,74,78,86,87,96,88,82,90,86
22003,60,58,54,61,54,57,64,62,72,63,72,76
22004,99,95,96,93,97,89,92,98,91,98,95,88