### IMPORT PANDAS

In [96]:
import pandas as pd

### Import and store `peace_index` file into the variable df standing for dataframe

In [97]:
df = pd.read_csv ("student_marks.csv", index_col="Student_ID")

df.head()

,Test_1,Test_2,Test_3,Test_4,Test_5,Test_6,Test_7,Test_8,Test_9,Test_10,Test_11,Test_12
Student_ID,,,,,,,,,,,,
22000,78,87,91,91,88,98,94,100,100,100,100,93
22001,79,71,81,72,73,68,59,69,59,60,61,67
22002,66,65,70,74,78,86,87,96,88,82,90,86
22003,60,58,54,61,54,57,64,62,72,63,72,76
22004,99,95,96,93,97,89,92,98,91,98,95,88

### Check for number of `Null Values`, `Columns` and `Rows`
### - Rename variable df to no_null_df

In [98]:
df.info()
no_null_df = df

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56 entries, 22000 to 22055
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Test_1   56 non-null     int64
 1   Test_2   56 non-null     int64
 2   Test_3   56 non-null     int64
 3   Test_4   56 non-null     int64
 4   Test_5   56 non-null     int64
 5   Test_6   56 non-null     int64
 6   Test_7   56 non-null     int64
 7   Test_8   56 non-null     int64
 8   Test_9   56 non-null     int64
 9   Test_10  56 non-null     int64
 10  Test_11  56 non-null     int64
 11  Test_12  56 non-null     int64
dtypes: int64(12)
memory usage: 5.7 KB

### Check null-free data frame for any `Duplicates Rows` and sort
#### Rename no_null_df variable with no_dup_df once all duplicates-if any-have been dropped

In [99]:
no_null_df.duplicated().sort_values()
no_dup_df = no_null_df

### Calculate descriptive statistics as variable `descript_stats variable`

In [100]:
descript_stats = no_dup_df.describe()
descript_stats

,Test_1,Test_2,Test_3,Test_4,Test_5,Test_6,Test_7,Test_8,Test_9,Test_10,Test_11,Test_12
count,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000
mean,70.750000,69.196429,68.089286,67.446429,67.303571,66.000000,66.160714,65.303571,64.392857,64.250000,64.517857,65.928571
std,17.009356,17.712266,18.838333,19.807179,20.746890,21.054043,21.427914,22.728372,23.211814,22.598673,22.610529,22.464402
min,40.000000,34.000000,35.000000,28.000000,26.000000,29.000000,26.000000,19.000000,9.000000,12.000000,19.000000,20.000000
25%,57.750000,55.750000,53.000000,54.500000,53.750000,50.250000,47.000000,45.750000,44.000000,45.750000,46.750000,46.750000
50%,70.500000,68.500000,70.000000,71.500000,69.000000,65.500000,64.000000,67.500000,65.500000,65.500000,64.000000,67.500000
75%,84.000000,83.250000,85.000000,84.000000,85.250000,83.750000,85.250000,83.250000,84.250000,83.250000,84.000000,86.500000
max,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

Import

### Calculate the `mean`, `Test with the highest average score` and `Test with the lowest average score` while create variables relating to each value

#### Test(s) Mean

In [101]:
test_means = descript_stats.mean()
test_means

Test_1     62.001169
Test_2     60.551087
Test_3     60.740952
Test_4     60.156701
Test_5     59.756308
Test_6     58.944255
Test_7     58.229829
Test_8     57.441493
Test_9     55.794334
Test_10    56.168584
Test_11    57.109798
Test_12    58.142872
dtype: float64

#### Test with `Highest Average Score`

In [102]:
highest_avg_score = test_means.idxmax()
highest_avg_score

'Test_1'