### IMPORT PANDAS

In [7]:
import pandas as pd

### Import and store `peace_index` file into the variable df standing for dataframe

In [8]:
df = pd.read_csv ("student_marks.csv", index_col="Student_ID")

df.head()

,Test_1,Test_2,Test_3,Test_4,Test_5,Test_6,Test_7,Test_8,Test_9,Test_10,Test_11,Test_12
Student_ID,,,,,,,,,,,,
22000,78,87,91,91,88,98,94,100,100,100,100,93
22001,79,71,81,72,73,68,59,69,59,60,61,67
22002,66,65,70,74,78,86,87,96,88,82,90,86
22003,60,58,54,61,54,57,64,62,72,63,72,76
22004,99,95,96,93,97,89,92,98,91,98,95,88

### Check for number of `Null Values`, `Columns` and `Rows`
### - Rename variable df to no_null_df

In [9]:
df.info()
no_null_df = df

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56 entries, 22000 to 22055
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Test_1   56 non-null     int64
 1   Test_2   56 non-null     int64
 2   Test_3   56 non-null     int64
 3   Test_4   56 non-null     int64
 4   Test_5   56 non-null     int64
 5   Test_6   56 non-null     int64
 6   Test_7   56 non-null     int64
 7   Test_8   56 non-null     int64
 8   Test_9   56 non-null     int64
 9   Test_10  56 non-null     int64
 10  Test_11  56 non-null     int64
 11  Test_12  56 non-null     int64
dtypes: int64(12)
memory usage: 5.7 KB

### Check null-free data frame for any `Duplicates Rows`

In [10]:
no_null_df.duplicated().sort_values()

Student_ID
22000    False
22030    False
22031    False
22032    False
22033    False
22034    False
22035    False
22036    False
22037    False
22038    False
22039    False
22040    False
22029    False
22041    False
22043    False
22044    False
22045    False
22046    False
22047    False
22048    False
22049    False
22050    False
22051    False
22052    False
22053    False
22042    False
22028    False
22027    False
22026    False
22001    False
22002    False
22003    False
22004    False
22005    False
22006    False
22007    False
22008    False
22009    False
22010    False
22011    False
22012    False
22013    False
22014    False
22015    False
22016    False
22017    False
22018    False
22019    False
22020    False
22021    False
22022    False
22023    False
22024    False
22025    False
22054    False
22055    False
dtype: bool